<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
          <script src="https://simplewebrtc.com/latest-v2.js"></script>
          <script src="https://cdn.socket.io/socket.io-1.2.0.js">
          </script>
          <script src="/javascripts/client.js">
          </script>

          <style>
                #remoteVideos video {
                    height: 150px;
                }
                #localVideo {
                    height: 150px;
                }
            </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
